@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root{
    --cor-primaria: #000000;
    --cor-secundaria: #E5E5CB;
    --cor-terciari: #735F32;
    --cor-hover: #C69749;

    --font-principal: 'Krona One', sans-serif;
    --font-secundaria: 'Montserrat', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}
.cabecalho{
   padding: 2% 11%;
}
.cabecalho__menu{
    display: flex;
}
.cabecalho_menu_link{
    padding: 65px;
    color: var(--cor-terciari);
    font-family: var(--font-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
}
.apresentacao{
    padding: 0 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo{
    font-size: 2.25rem;
    font-family: var(--font-principal);
}
.titulo-destaque{
    color: var(--cor-terciari);
}

.apresentacao__conteudo__texto{
    font-size: 1.5rem;
    font-family: var(--font-secundaria);
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}
.apresentacao__links__subtitulo{
    font-family: var(--font-principal);
    font-size: 1.5rem;
    font-weight: 400;


}

.apresentacao__links__navegacao{
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciari);
    color: var(--cor-secundaria);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    font-family: var(--font-secundaria);
    
}
.apresentacao__links__link:hover{
    background-color: var(--cor-hover);
    border: 5px solid var(--cor-terciari);
    padding: 4%;
}
.apresentacao_imagem{
    width: 50%;
}
.rodape {
    padding: 10px;
    color: var(--cor-primaria);
    font-size: 1.5rem;
    font-weight: 400;
    width: 1830px;
    height: 80px;
    background-color: var(--cor-terciari);
    text-align: center;
    font-family: var(--font-secundaria);
    margin-top: 2%;
   
}

